In [5]:
import os
import pandas as pd
import rotten_tomatoes_scraper

In [4]:
path = "../data/"
test_data = pd.read_csv(os.path.join(path, "test.csv"))
print(f"Number of rows and columns in the test data set: {test_data.shape}")
test_data.head()

Number of rows and columns in the test data set: (2684, 3)

,movie_name,movie_description,id
0,All Quiet on the Western Front,All Quiet on the Western Front tells the gripp...,133529667241314002934985813983134580070
1,Black Panther: Wakanda Forever,"In Marvel Studios' ""Black Panther: Wakanda For...",133529693386607632642217219852638190950
2,Interstellar,"In Earth's future, a global crop blight and se...",133529737754378640630246272237250379110
3,Avengers: Endgame,"Adrift in space with no food or water, Tony St...",133529756769137644053687294687798459750
4,Uncharted,Street-smart thief Nathan Drake (Tom Holland) ...,133529828866765532034234504812793265510

In [6]:
from rotten_tomatoes_scraper.rt_scraper import MovieScraper
movie_scraper = MovieScraper(movie_title='All Quiet on the Western Front')
movie_scraper.extract_metadata()

print(movie_scraper.metadata)
# {'Score_Rotten': '81', 'Score_Audience': '74', 'Genre': ['comedy', 'drama', 'romance']}

HTTPError: 404 Client Error: Not Found for url: https://www.rottentomatoes.com/api/private/v2.0/search?q=All+Quiet+on+the+Western+Front&limit=10

In [10]:
import rottentomatoes as rt

print(rt.genres('X-Men: Apocalypse'))
# Output: ['Action', 'Adventure']
# Type: list[str]

['Action', 'Adventure', 'Fantasy', 'Sci-fi']

In [11]:
path = "../data/"
test_data = pd.read_csv(os.path.join(path, "test.csv"))
print(f"Number of rows and columns in the test data set: {test_data.shape}")
test_data.head()

Number of rows and columns in the test data set: (2684, 3)

,movie_name,movie_description,id
0,All Quiet on the Western Front,All Quiet on the Western Front tells the gripp...,133529667241314002934985813983134580070
1,Black Panther: Wakanda Forever,"In Marvel Studios' ""Black Panther: Wakanda For...",133529693386607632642217219852638190950
2,Interstellar,"In Earth's future, a global crop blight and se...",133529737754378640630246272237250379110
3,Avengers: Endgame,"Adrift in space with no food or water, Tony St...",133529756769137644053687294687798459750
4,Uncharted,Street-smart thief Nathan Drake (Tom Holland) ...,133529828866765532034234504812793265510

In [28]:
def take_genre(movie_name):
    try:
        return rt.genres(movie_name)
    except:
        return "['Biography', 'Documentary']"

test_data['genre'] = test_data['movie_name'].apply(take_genre)
test_data.head()

,movie_name,movie_description,id,genre
0,All Quiet on the Western Front,All Quiet on the Western Front tells the gripp...,133529667241314002934985813983134580070,"[War, History, Drama, Action]"
1,Black Panther: Wakanda Forever,"In Marvel Studios' ""Black Panther: Wakanda For...",133529693386607632642217219852638190950,"[Action, Adventure, Fantasy]"
2,Interstellar,"In Earth's future, a global crop blight and se...",133529737754378640630246272237250379110,"[Sci-fi, Adventure, Action]"
3,Avengers: Endgame,"Adrift in space with no food or water, Tony St...",133529756769137644053687294687798459750,"[Action, Adventure, Fantasy, Sci-fi]"
4,Uncharted,Street-smart thief Nathan Drake (Tom Holland) ...,133529828866765532034234504812793265510,"[Adventure, Action]"

In [30]:
test_data['genre'].value_counts()

Traceback (most recent call last):
  File "/home/nikivene/ITMO_Projects/the_first_NLP_project/.venv/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 2057, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "/home/nikivene/ITMO_Projects/the_first_NLP_project/.venv/lib/python3.10/site-packages/IPython/core/ultratb.py", line 1288, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/home/nikivene/ITMO_Projects/the_first_NLP_project/.venv/lib/python3.10/site-packages/IPython/core/ultratb.py", line 1177, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/home/nikivene/ITMO_Projects/the_first_NLP_project/.venv/lib/python3.10/site-packages/IPython/core/ultratb.py", line 1030, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/home/nikivene/ITMO_Projects/the_first_NLP_project/.venv/lib/python3.10/site-packages/IPython/core/ultratb.py", line 935, in format_exception_as_a_whole
    self.get_records(etb, number_of_lines_of_context, tb_offset) if etb else []
  File "/home/nikivene/ITMO_Projects/the_first_NLP_project/.venv/lib/python3.10/site-packages/IPython/core/ultratb.py", line 1003, in get_records
    lines, first = inspect.getsourcelines(etb.tb_frame)
  File "/home/nikivene/miniconda3/lib/python3.10/inspect.py", line 1129, in getsourcelines
    lines, lnum = findsource(object)
  File "/home/nikivene/miniconda3/lib/python3.10/inspect.py", line 958, in findsource
    raise OSError('could not get source code')
OSError: could not get source code
Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

Unexpected exception formatting exception. Falling back to standard exception

['Biography', 'Documentary']            254
[Romance, Comedy]                       195
[Horror, Mystery & thriller]            169
[Horror]                                143
[Comedy]                                129
                                       ...
[History, Drama, Adventure, Action]       1
[Western, Adventure, Drama]               1
[Mystery & thriller, Action, Drama]       1
[Action, Sci-fi, Mystery & thriller]      1
[Mystery & thriller, Drama, Lgbtq+]       1
Name: genre, Length: 526, dtype: int64

In [29]:
test_data.to_csv("submission_with_genre2.csv", index=False)

In [31]:
genre_0 = ['Action']
genre_1 = ['Adventure', 'Fantasy']
genre_2 = ['Biography', 'Documentary', 'History']
genre_3 = ['Comedy']
genre_4 = ['Horror', 'Mystery & thriller']
genre_5 = ['Romance', 'Drama']

def get_prod_country_rank(id):
    if id[0] in genre_0:
        return "0"
    elif id[0] in genre_1:
        return "1"
    elif id[0] in genre_2:
        return "2"    
    elif id[0] in genre_3:
        return "3"
    elif id[0] in genre_4:
        return "4"
    elif id[0] in genre_5:
        return "5"
    else:
        return "5"
        # if id[1] in genre_0:
        #     return "0"
        # elif id[1] in genre_1:
        #     return "1"
        # elif id[1] in genre_2:
        #     return "2"    
        # elif id[1] in genre_3:
        #     return "3"
        # elif id[1] in genre_4:
        #     return "4"
        # elif id[1] in genre_5:
        #     return "5"
        # else:
        #     return "5"

test_data['target'] = test_data['genre'].apply(get_prod_country_rank)
test_data.head()

IndexError: list index out of range