In [1]:
%load_ext autoreload
%autoreload 2

# Import Libraries

In [2]:
import os

import pandas as pd
from catboost import Pool, CatBoostClassifier
from sklearn.metrics import accuracy_score

# Read Data

In [3]:
path = "../data/"
train_data = pd.read_csv(os.path.join(path, "train.csv"))
test_data = pd.read_csv(os.path.join(path, "test.csv"))
print(f"Number of rows and columns in the train data set: {train_data.shape}")
print(f"Number of rows and columns in the test data set: {test_data.shape}")
train_data.head()

Number of rows and columns in the train data set: (8050, 4)
Number of rows and columns in the test data set: (2684, 3)

,movie_name,target,movie_description,id
0,Furies,0,Three furious vigilantes unite to take down a ...,133529636342330622371894152500993949030
1,RRR,0,The story of freedom fighters Komaram Bheem an...,133529660110779376651195430564179049830
2,John Wick,0,Legendary assassin John Wick (Keanu Reeves) re...,133529680710101630359923204885606137190
3,John Wick: Chapter 3 -- Parabellum,0,After gunning down a member of the High Table ...,133529687048354631501070212369122164070
4,Top Gun: Maverick,0,After more than thirty years of service as one...,133529699724860633783364227336154217830

In [4]:
train_data.groupby("target").describe()

       movie_name                                   movie_description         \
            count unique                   top freq             count unique
target
0             920    908             The Mummy    2               920    920
1            1096   1075  The Three Musketeers    4              1096   1096
2            1140   1133             Rembrandt    2              1140   1140
3            1589   1578        Ocean's Eleven    2              1589   1589
4            1699   1645             Halloween    3              1699   1699
5            1606   1590    Always Be My Maybe    2              1606   1606

                                                                  id         \
                                                      top freq count unique
target
0       Three furious vigilantes unite to take down a ...    1   920    920
1       An interactive comedy adventure about two indo...    1  1096   1096
2       Zlatan Ibrahimovic, the son of Balkan immigran...    1  1140   1140
3       Aware that her time is running short, irascibl...    1  1589   1589
4       Returning to an eerily empty hotel after a day...    1  1699   1699
5       In order to save her relationship from falling...    1  1606   1606


                                            top freq
target
0       133529636342330622371894152500993949030    1
1       133537091712423214646061704986720566630    1
2       133546465196330277259842397171484818790    1
3       133555542366909536525000489501874814310    1
4       133568186389365187970637043180908936550    1
5       133581667853498615190321960619498110310    1

# Preparing the data and creating Catboost model

In [5]:
X_train = train_data["movie_description"]
y_train = train_data["target"]

X_test = test_data["movie_description"]


model = CatBoostClassifier(
    iterations=100,
    depth=5,
    random_seed=42
)

model.fit(
    X_train,
    y_train,
    text_features=[0],
    verbose=True
)

Learning rate set to 0.5
0:	learn: 0.6379966	total: 215ms	remaining: 21.3s
1:	learn: 0.4115786	total: 342ms	remaining: 16.7s
2:	learn: 0.3088364	total: 495ms	remaining: 16s
3:	learn: 0.2512520	total: 643ms	remaining: 15.4s
4:	learn: 0.2143676	total: 770ms	remaining: 14.6s
5:	learn: 0.1921620	total: 905ms	remaining: 14.2s
6:	learn: 0.1753263	total: 1.04s	remaining: 13.8s
7:	learn: 0.1564486	total: 1.18s	remaining: 13.5s
8:	learn: 0.1494784	total: 1.3s	remaining: 13.2s
9:	learn: 0.1489393	total: 1.43s	remaining: 12.9s
10:	learn: 0.1453907	total: 1.56s	remaining: 12.6s
11:	learn: 0.1422216	total: 1.68s	remaining: 12.3s
12:	learn: 0.1372412	total: 1.8s	remaining: 12.1s
13:	learn: 0.1366207	total: 1.92s	remaining: 11.8s
14:	learn: 0.1321891	total: 2.04s	remaining: 11.6s
15:	learn: 0.1309876	total: 2.16s	remaining: 11.3s
16:	learn: 0.1240254	total: 2.29s	remaining: 11.2s
17:	learn: 0.1222762	total: 2.4s	remaining: 10.9s
18:	learn: 0.1219894	total: 2.52s	remaining: 10.7s
19:	learn: 0.1091740	total: 2.63s	remaining: 10.5s
20:	learn: 0.1086741	total: 2.76s	remaining: 10.4s
21:	learn: 0.1079970	total: 2.87s	remaining: 10.2s
22:	learn: 0.1023721	total: 2.99s	remaining: 10s
23:	learn: 0.1002399	total: 3.11s	remaining: 9.85s
24:	learn: 0.0987527	total: 3.23s	remaining: 9.68s
25:	learn: 0.0974956	total: 3.34s	remaining: 9.5s
26:	learn: 0.0969315	total: 3.45s	remaining: 9.32s
27:	learn: 0.0952456	total: 3.56s	remaining: 9.16s
28:	learn: 0.0929437	total: 3.67s	remaining: 8.99s
29:	learn: 0.0920429	total: 3.79s	remaining: 8.84s
30:	learn: 0.0909860	total: 3.94s	remaining: 8.77s
31:	learn: 0.0896562	total: 4.05s	remaining: 8.62s
32:	learn: 0.0889136	total: 4.17s	remaining: 8.46s
33:	learn: 0.0876830	total: 4.28s	remaining: 8.31s
34:	learn: 0.0870001	total: 4.39s	remaining: 8.16s
35:	learn: 0.0859566	total: 4.51s	remaining: 8.01s
36:	learn: 0.0857036	total: 4.62s	remaining: 7.86s
37:	learn: 0.0849340	total: 4.72s	remaining: 7.71s
38:	learn: 0.0846782	total: 4.84s	remaining: 7.57s
39:	learn: 0.0830569	total: 4.95s	remaining: 7.43s
40:	learn: 0.0813996	total: 5.09s	remaining: 7.33s
41:	learn: 0.0794755	total: 5.21s	remaining: 7.2s
42:	learn: 0.0785516	total: 5.33s	remaining: 7.07s
43:	learn: 0.0782149	total: 5.45s	remaining: 6.93s
44:	learn: 0.0777220	total: 5.56s	remaining: 6.8s
45:	learn: 0.0771682	total: 5.67s	remaining: 6.66s
46:	learn: 0.0756611	total: 5.79s	remaining: 6.52s
47:	learn: 0.0738102	total: 5.89s	remaining: 6.39s
48:	learn: 0.0735333	total: 6s	remaining: 6.25s
49:	learn: 0.0734027	total: 6.11s	remaining: 6.11s
50:	learn: 0.0730748	total: 6.23s	remaining: 5.99s
51:	learn: 0.0725641	total: 6.34s	remaining: 5.86s
52:	learn: 0.0722197	total: 6.46s	remaining: 5.73s
53:	learn: 0.0717944	total: 6.58s	remaining: 5.61s
54:	learn: 0.0705777	total: 6.71s	remaining: 5.49s
55:	learn: 0.0701971	total: 6.82s	remaining: 5.36s
56:	learn: 0.0699409	total: 6.93s	remaining: 5.23s
57:	learn: 0.0697268	total: 7.04s	remaining: 5.1s
58:	learn: 0.0695366	total: 7.15s	remaining: 4.97s
59:	learn: 0.0683877	total: 7.27s	remaining: 4.85s
60:	learn: 0.0671908	total: 7.39s	remaining: 4.72s
61:	learn: 0.0660057	total: 7.49s	remaining: 4.59s
62:	learn: 0.0656497	total: 7.61s	remaining: 4.47s
63:	learn: 0.0653969	total: 7.72s	remaining: 4.34s
64:	learn: 0.0651198	total: 7.83s	remaining: 4.22s
65:	learn: 0.0649283	total: 7.95s	remaining: 4.09s
66:	learn: 0.0631387	total: 8.09s	remaining: 3.98s
67:	learn: 0.0624258	total: 8.21s	remaining: 3.86s
68:	learn: 0.0609521	total: 8.32s	remaining: 3.74s
69:	learn: 0.0603755	total: 8.44s	remaining: 3.62s
70:	learn: 0.0600089	total: 8.55s	remaining: 3.49s
71:	learn: 0.0589866	total: 8.66s	remaining: 3.37s
72:	learn: 0.0582697	total: 8.77s	remaining: 3.25s
73:	learn: 0.0581024	total: 8.88s	remaining: 3.12s
74:	learn: 0.0572777	total: 9s	remaining: 3s
75:	learn: 0.0567135	total: 9.11s	remaining: 2.88s
76:	learn: 0.0554762	total: 9.23s	remaining: 2.76s
77:	learn: 0.0550937	total: 9.35s	remaining: 2.64s
78:	learn: 0.0545975	total: 9.47s	remaining: 2.52s
79:	learn: 0.0533874	total: 9.59s	remaining: 2.4s
80:	learn: 0.0524797	total: 9.7s	remaining: 2.27s
81:	learn: 0.0522507	total: 9.81s	remaining: 2.15s
82:	learn: 0.0517181	total: 9.92s	remaining: 2.03s
83:	learn: 0.0515530	total: 10s	remaining: 1.91s
84:	learn: 0.0505957	total: 10.2s	remaining: 1.79s
85:	learn: 0.0495313	total: 10.3s	remaining: 1.68s
86:	learn: 0.0492364	total: 10.4s	remaining: 1.56s
87:	learn: 0.0485598	total: 10.5s	remaining: 1.44s
88:	learn: 0.0483148	total: 10.6s	remaining: 1.31s
89:	learn: 0.0479227	total: 10.7s	remaining: 1.19s
90:	learn: 0.0478022	total: 10.9s	remaining: 1.07s
91:	learn: 0.0476014	total: 11s	remaining: 955ms
92:	learn: 0.0474438	total: 11.1s	remaining: 836ms
93:	learn: 0.0472635	total: 11.2s	remaining: 716ms
94:	learn: 0.0465853	total: 11.3s	remaining: 597ms
95:	learn: 0.0459250	total: 11.5s	remaining: 477ms
96:	learn: 0.0449986	total: 11.6s	remaining: 358ms
97:	learn: 0.0448522	total: 11.7s	remaining: 239ms
98:	learn: 0.0446574	total: 11.8s	remaining: 119ms
99:	learn: 0.0442167	total: 11.9s	remaining: 0us

# Predict

In [6]:
# Preparing data in Pool format
dataset_test = Pool(
    data=X_test,
    text_features=[0]
)
predict_classes = model.predict(dataset_test)
predictions = predict_classes

# Create submission

In [7]:
sample_submission = pd.read_csv(os.path.join(path, "sample_submission.csv"))
sample_submission["target"] = predictions
sample_submission.head()

                                        id  target
0  133529667241314002934985813983134580070       5
1  133529693386607632642217219852638190950       5
2  133529737754378640630246272237250379110       5
3  133529756769137644053687294687798459750       1
4  133529828866765532034234504812793265510       5

In [8]:
sample_submission.to_csv("submission.csv", index=False)